<div class="panel panel-default">
  <div class="panel-heading text-center">
    <div class="row panel-title">
      <div class="col-md-3 text-left"><input class="form-control" ng-model="query" placeholder="search"></div>
      <div class="col-md-6 text-center"><h4>管理商品分类</h4></div>
      <div class="col-md-3"><a class="btn btn-primary btn-sm" role="button" href="#/addCategory" id="pay">增加分类</a></div>
    </div>
  </div>
  <ul class="list-group text-center">
    <li class="list-group-item" id="categoryManager">
      <div class="row panel-title">
        <div class="col-md-3">种类</div>
        <div class="col-md-5"></div>
        <div class="col-md-2">修改</div>
        <div class="col-md-2">移除</div>
      </div>
    </li>
    <li class="list-group-item" ng-repeat="category in categorys | filter:query">
      <div class="row panel-title">
        <div class="col-md-3">{{category}}</div>
        <div class="col-md-5"></div>
        <div class="col-md-2"><a href="#/modifyCategory"><button type="button" class="btn btn-primary btn-xs" name="{{category}}" ng-click="change(category)" value="0">修改</button></a></div>
        <div class="col-md-2"><button type="button" class="btn btn-danger btn-xs" name="{{category}}" ng-click="removes(category)" value="0">移除</button></div>
      </div>
    </li>

  </ul>
</div>
