<div class="panel panel-default">
  <div class="panel-heading text-center">
    <div class="row panel-title">
      <h4>修改商品信息</h4>
    </div>
  </div>
  <div class="panel-body text-center" id="cart-item">
    <div class="row panel-title">
      <div class="col-md-2">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            {{categoryName}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="category in categorys" ng-click="changeName(category)">
              <a role="menuitem">{{category}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" name="className" class="form-control" placeholder="{{item.name}}" ng-model="name">
      </div>
      <div class="col-md-2">
        <input type="text" name="className" class="form-control" placeholder="{{item.unit}}" ng-model="unit">
      </div>
      <div class="col-md-2">
        <input type="text" name="className" class="form-control" placeholder="{{item.price}}" ng-model="price">
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-primary btn-sm" ng-click="modify()">确认修改</button>
      </div>
      <div class="col-md-1"><a class="btn btn-danger btn-sm" role="button" href="#/goodsInformationManager">返回</a></div>
    </div>
  </div>
</div>


